.DS_Store

node_modules/
npm-debug.log

/neo4j-*
/neo4j
.idea/jsLibraryMappings.xml
.idea/libraries/cloudcomputing3_node_modules.xml
.idea/workspace.xml
.idea/node-neo4j-template.iml
.idea/workspace.xml
*.xml
.idea/node-neo4j-template.iml
.idea/node-neo4j-template.iml
.idea/workspace.xml
.idea/node-neo4j-template.iml
.idea/workspace.xml
*.iml
