include  mixins
extends layout
block content
    .jumbotron
        h1 About
        h3 Neo4j Interactive Queries Tool
            h4 &nbsp; + Maintain Customer - Product DB with Neo4j graph DB.
            h4 &nbsp; + Query user preferences with a friendly UI
        p

