include  mixins
extends layout
block content
    .jumbotron
        h1 About
        h3 Neo4j Interactive Queries Tool
            h4 &nbsp; + Maintain Customer - Product DB with Neo4j graph DB.
            h4 &nbsp; + Query user preferences with a friendly UI
    iframe(src="https://docs.google.com/presentation/d/14s3HRgcRrD-9uRfs4DMrjS9FsmF4GqS6GCb1iikNgp4/embed?start=false&loop=false&delayms=3000"
        ,width="900", height="450", allowfullscreen="true", mozallowfullscreen="true", webkitallowfullscreen="true")
