include mixins
extends layout
block content
   .row
      .col-md-6.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Users
            +listItem Number of users
            +listItem Continents: Asia:  North-America
            +listItem % of women:   % of men
            +listItem Total amount in DB:{}   % of women:{}   % of men{}
   .row
      .col-md-5.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Products
            +listItem Number of products
            +listItem Top 3 products sales: {apple, toshiba, fauter}
            +listItem
            +listItem Total amount in DB:{}   % of women:{}   % of men{}
   .row
      .col-md-6.col-sm-2.col-xs-2
         +listGroup("list")
            +listItem("active") Purchases
            +listItem Average amount purchase: { }
            +listItem Average transactions per year: { }

