include  mixins
extends layout
block content
    +nav("Project name", "dropdown_menu")
        +nav_item( "/", "active" ) Home
        +nav_item( "/users" ) Insert User
        +nav_item( "/users" ) Insert Product
        +nav_item( "/users" ) Run Query
    p
        | This is a tool that allows you to query user preferences using Neo4j graph DB.
    p.
        You can Add a user, Add a product and investigate connections between them.
    .row
        .col-md-3.col-sm-6.col-xs-12
            <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button>
        .col-md-3.col-sm-6.col-xs-12

        .col-md-3.col-sm-6.col-xs-12






