include  mixins
extends layout
block content
    +nav("Project name", "dropdown_menu")
        +nav_item( "/", "active" ) Home
        +nav_item( "/users" ) Insert User
        +nav_item( "/users" ) Insert Product
        +nav_item( "/users" ) Run Query
    p
        | This is a tool that allows you to query user preferences using Neo4j graph DB.
    p.
        You can Add a user, Add a product and investigate connections between them.
    h3 &nbsp;Current DB Statistics:
    .row
        .col-md-4.col-sm-6.col-xs-12
            span.badge Users: 10
        .col-md-4.col-sm-6.col-xs-12
            span.badge Products: 30
        .col-md-4.col-sm-6.col-xs-12
            span.badge Purchases: 100
    h1   &nbsp;&nbsp;
    h1   &nbsp;&nbsp;
        +buttonLink("warning", "/users", "small") Get started






