include  mixins
extends layout
block content
    +nav("Project name", "dropdown_menu")
        +nav_item( "/", "active" ) Home
        +nav_item( "/users" ) Insert User
        +nav_item( "/users" ) Insert Product
        +nav_item( "/users" ) Run Query
    p
        | This is a tool that allows you to query user preferences using Neo4j graph DB.
    p.
        You can Add a user, Add a product and investigate connections between them.
    .row
        .col-md-4.col-sm-6.col-xs-12
        .col-md-4.col-sm-6.col-xs-12
        +panel("Add user", "success")) Adding a User is easy, simply log to this page
            | enter deatils and submit.
        +panel("Add product", "warning")) Adding a Product is also easy, simply log to this page
            | enter deatils and submit.
        +panel("Run a query", "info")) Running a query can be done by simply, simply log to this page
            | enter deatils and submit





