doctype 5
html
  head
      title Neo4j Pref Tool
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge' )
      meta( name='viewport', content='width=device-width, initial-scale=1.0' )
      meta( name='description', content='cloud computing 3' )
      //- Bootswatch Theme
      link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

  body(style="padding-bottom:10rem; padding-left:2rem;padding-top:1rem;")
      .container
      +bootswatch("yeti") //change theme here
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
      block navbar
          +nav("Neo4j Customer - Product Query Tool", "dropdown_menu")
              +nav_item( "/", "active" ) Home
              +nav_item( "/users" ) Add Data
              +nav_item( "/getData" ) Extract Data
              +nav_item( "/dbstat" ) DB Statistics
              +nav_item( "/about" ) About
      block content





