include mixins
extends layout
block content
    .row
        .col-md-3.col-sm-6.col-xs-12
            +panel("Create new customer", "primary") Insert Details:
                form(action='/addcustomer', method='POST')
                    input(type='text', name='firstname', placeholder='first name')
                    br
                    input(type='text', name='lastname', placeholder='last name')
                    br
                    input(type='number', name='uuid', placeholder='id')
                    br
                    input(type='number', name='age', placeholder='age')
                    br
                    input(type='text', name='country', placeholder='country')
                    br
                    input(type='text', name='city', placeholder='city')
                    br
                    input(type='text', name='state', placeholder='state')
                    br
                    input(type='text', name='gender', placeholder='gender')
                    br
                    input(type='email', name='email', placeholder='email address')
                    br
                    +button("primary", "small", "Add User")
                    if error
                        span.error &nbsp;#{error}
        .col-md-3.col-sm-6.col-xs-12
            +panel("Add new product", "info") Insert Details:
                form(action='/addproduct', method='POST')
                p Create a new product:
                input(type='text', name='taglist', placeholder='tag list')
                br
                input(type='text', name='uuid', placeholder='id')
                br
                input(type='number', name='name', placeholder='name')
                br
                input(type='number', name='model', placeholder='model')
                br
                input(type='text', name='producer', placeholder='producer')
                br
                +button("info", "small", "Add Product")
                if error
                    span.error &nbsp;#{error}
        .col-md-4.col-sm-6.col-xs-12
        .col-md-3.col-sm-6.col-xs-12
            +panel("Add Product Category", "success") Insert Details:
                form(action='', method='POST')
                    p Run Query:
                    input(type='text', name='firstname', placeholder='tag list')
                    br
                    input(type='text', name='lastname', placeholder='id')
                    br
                    input(type='number', name='uuid', placeholder='name')
                    br
                    input(type='number', name='age', placeholder='model')
                    br
                    input(type='text', name='country', placeholder='producer')
                    br
                    +button("success", "small", "Add Product")
                    if error
                        span.error &nbsp;#{error}




        //if users.length
        //    p Here are the current users:
        //    ul.users
        //        for user in users
        //            li.user
        //                p firstname: #{user.firstname}
        //else
        //    p There are no users currently.